@import url(font.css);

body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 20px 50px;
}

p {
    font-family: 'Heebo-Regular';
    font-size: 20px;
    margin: 0;
}

a {
    margin: 20px;
    font-family: 'Heebo-Medium';
    color: #1A0604;
    text-decoration: none;
}

button {
    background-color: #EF472D;
    border: none;
    border-radius: 12px;
    margin: 20px 0px;
    padding: 25px;
    width: 400px;
    color: #FFFFFF;
    font-size: 25px;
}

.OR {
    color: #EF472D;
}

h1 {
        font-family: 'Heebo-Black';
        font-size: 48px;
        margin: 0;
}

#MP1 {
    margin: 0;
    height: 100%;
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#MP1-EL {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 10%;
}

/*100px 0px 100px 250px*/

#MP2 {
    margin: 50px 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#MP2-EL {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#TR {
    font-family: 'Heebo-Medium';
    font-size: 56px;
    color: #FFFFFF;
    margin: 20px 0px;
}

#Titre {
    font-size: 128px;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 1.05;
}